body{
    margin: 0;
    padding: 0;
    color: black;
    overflow: scroll;
}

/*h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}*/

p{
	/*padding: 0;
	margin: 0;*/
	font-size: 18px;
}

img{
	width: 100%;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}

header{
    box-shadow: 0 0 10px 1px black;
    z-index: 10;
}

.fixed{
 	position: fixed;
 	width: 70%;
 	min-width: 768px;
 	top:0;
 	left: 0;
 	right: 0;
 	margin: auto;
 	z-index: 2;
  	background: white;
	border-bottom: 3px solid black;
}

.block_active {
    display: block!important;
}

.container{
	width: 70%;
	min-width: 768px;
	margin: 0 auto;
}

.logo{
    width: 100px;
    margin: 0;
    padding: 0;
}

.icon{
    width: 25px;
    height: 25px;
}

.icon_burger{
	margin: 0 5px;
}

.block_header{
    display: flex;
    justify-content:space-between;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.top_block_header{
	border-bottom: 1px solid black;
}

.bottom_block_header{
}


nav{
	display: flex;
}

.button_header{
    background-color:transparent;
    opacity: 0.8;
    color:black;
    padding:0;
    margin-left: 0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
	transition: 0.5s all;
    opacity: 1;
}

.button_header:hover{
	transition: 0.5s all;
    opacity:0.6;
}

.top_right_block_header_icon a{
    margin: 10px 20px;
    font-weight: 600;
    transition: 0.5s all;
}

.top_right_block_header_icon a:last-child {
    margin-right: 5px;
}

.bottom_right_block_header_links > ul{
 	display: flex;
}

.bottom_right_block_header_links > ul > li{
  	position: relative;
}

.bottom_right_block_header_links ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 30px 10px;
	transition: 0.5s all;
    opacity: 1;
}

.bottom_right_block_header_links ul li a:hover{
	transition: 0.5s all;
	opacity: 0.6;
}

.bottom_right_block_header_links ul ul{
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 0;
    z-index: 99;
}

.bottom_right_block_header_links li:hover ul{
    display: flex;
    transition: 0.5s all;
    background: white;
    opacity: 1;
}

.menu_toggle {
	display: none;
}


.popup_block {
    display: none;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding:10px;
    background: white;
    height: 500px;
    width: 40%;
    min-width: 300px;
    z-index: 2;
}

.popup_block textarea[type=text],
.popup_block input[type=text], 
.popup_block input[type=email],
.popup_block input[type=tel] {
    width: 100%;
    padding: 10px ;
    margin:10px 0;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
}

.popup_block textarea[type=text]:focus,
.popup_block input[type=text]:focus, 
.popup_block input[type=email]:focus,
.popup_block input[type=tel]:focus {
    background-color: #ddd;
    outline:none;
}

.button_popup_block {
    background-color:#F5F5F5;
    opacity: 0.8;
    color:black;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    margin:10px 0 0 0;
    font-size: 15px;
    font-weight: bold;
}

.button_cancel_popup_block{
    background-color:#F0F8FF;
}

.button_popup_block:hover{ 
    opacity:1;
}


.page_aboutUs{
	padding-top: 10px;
}


.flex{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.article{
    display:flex;
    flex-direction: column;
    align-items: center; 
    width: 320px;
    background: white;
    padding:10px;
    margin: 10px;
    box-shadow: 0 0 10px 1px black;
    text-align: justify;
}

.article_travel_img{
    width: 100%;
    height: 200px;
}

.article_command_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #6b7f97;
}

.button_details{
    background: #0002fb;
    padding: 10px 15px;
    color: white;
    border: none;
    text-decoration: none;
}





.block_description h2{
	text-align: center;
    margin: 10px 0;
    font-size:3vmax;
}



.block_carousel{
    height: 80vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.block_carousel img {
	object-fit: cover;
    width: 100%;
    height: 90vh;
    border: none !important;
    box-shadow: none !important;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.block_feedback{
    padding:10px;
    margin-top: 10px;
    color: white;
}

.block_feedback input[type=text],
.block_feedback textarea[type=text]{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background: #f1f1f1;
    border-radius: 5px;
    border:none;
    box-sizing: border-box;
}

.block_feedback input[type=text]:focus,
.block_feedback textarea[type=text]:focus {
    background-color: #ddd;
    outline:none;
}

.button_block_feedback {
    /*background-color:#B3CD36;*/
    opacity: 0.7;
    color:black;
    padding: 10px;
    margin:5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}

.button_block_feedback:hover{
  	opacity:1;
}



.block_comment{
	padding: 10px;	
}

.block_comment p{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 14px;
	line-height: 1.5em;
	letter-spacing: 0.5px;
	text-align: justify;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
}

.block_comment em{
	margin-left: 3%;
}



@media screen and (max-width:768px){

	.container{
		width: 97%;
		min-width: 310px;
		padding: 0 5px; 
	}

	.fixed{
	 	width: 97%;
	 	min-width: 320px;
}

	.logo{
	    width: 80px;
	    margin: 0;
	    padding: 0;
	}

	.icon{
		width: 5vw;
	}

	/*.bottom_block_header{
    	height: auto;
	}*/

	.top_right_block_header_icon a{
    	margin: 0 8px;
	}

	.button_header{
	    font-size: 13px;
	}

	.menu_toggle {
    	display: block;
     	cursor: pointer;
     	position: relative;
    }

    .bottom_right_block_header_links {
	    width: 100%;
	    display: none;
    }

    .bottom_right_block_header_links > ul {
      	display: block;
      	width: 100%;
    }

    .bottom_right_block_header_links ul ul {
	    position: static;
	    transform: translateX(0);
	    font-size: 12px;
    }

    .bottom_right_block_header_links a {
		border-bottom: 1px solid black;
    }




	.article{
	    width: 100%;
	    /*max-width: 100%;*/
	    /*min-width: 280px;*/
	    /*height: 500px;*/
	    /*padding:10px;
	    margin:10px;*/
	}

	.article_travel_img{
		height:auto;
	}
}